venv/
local-llm/ 
# If your conda env is inside the project and you don't want to track it
__pycache__/
src/__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
chroma_db/
chroma_db_streamlit/
# Add sample_documents/ here ONLY IF you do NOT want to commit your sample files
# (e.g., if they are large or sensitive, or you want users to add their own)
# If you DO want to commit your sample files, ensure sample_documents/ is NOT in .gitignore
sample_documents/
chroma_db_agent/